<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Homepage</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
</head>
<body>
    <h1>Homepage</h1>
    <form action="{% url 'password' %}">
        <select name="length" id="password_length">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12" selected='selected'>12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
        </select>
        <br>

        <input type="checkbox" name="uppercase">Uppercase</input>
        <br>
        <input type="checkbox" name="numbers">Numbers</input>
        <br>
        <input type="checkbox" name="special">Special characters</input>
        <br>

        <input type="submit" value="Generate password">
    </form>
    
</body>
</html>